<!DOTTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title> HTML 예제입니다. </title>
        <body>
            <h1>제목입니다.</h1>
            <h2>덜 중요한 제목입니다</h2>

            <form action="전송받을 대상">
                아이디 : <input type="text" name = "myid">
                비밀번호 : <input type="password" name = "mypw">
                <input type= "submit"> <!-- emmet 이라는 플로그인이 내장되어 있어 html 문서작업을 빠르게 할수 있도록 도와줍니다.--> 
            
            
                <select name="선택할 인자" id="myselect">
                    <option value="goodday">좋은날</option>
                    <option value="sadday">슬픈날</option>
                    <option value="soso">그저그런날</option>

                </select> <br>

                내용: <br>
                <textarea name="content" id="" cols="30" rows="20"></textarea>
                <br>
                <input type="submit">

                <ol>
                    <li>show</li>
                    <li>count</li>
                    <li>should</li>
                </ol>

                <ul>
                    <li>show</li>
                </ul>
            </form>
        </body>
    </head>

</html>
